<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Tutorials</title>
    <link rel="stylesheet" href="styles.css" >
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="vue-app">
        <h1>Looping</h1>
        <ul>
            <li v-for="character in characters">{{character}}</li>
        </ul>

        <ul>
            <li v-for="(ninja,index) in ninjas">
            {{index}}. {{ninja.name}}---{{ninja.age}}
            </li>
        </ul>
    </div>
    <script src="app.js"> 
    
    </script>
</body>
</html>